.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 6rem;
  gap: 2rem;
  flex-wrap: wrap;
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.home-text {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  color: #fafafa;
}

.home-title {
  animation: slideFade 1s ease-out forwards;
  margin-bottom: 1rem;
}

.home-title h1 {
  margin: 0;
  line-height: 1.2;
  font-size: 6rem;
  color: aliceblue;
}

@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.pokeball-icon {
  width: 30px;
  margin-left: 10px;
  vertical-align: middle;
}

.home-button {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  background-color: #ef5350;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #d32f2f;
}

.home-image {
  flex: 1;
  text-align: center;
}

.home-img {
  max-width: 100%;
  height: auto;
}
