.footer {
  color: white;
  text-align: center;
  padding: 1.5rem;
  font-size: 0.9rem;
  margin-top: 4rem;
  border-top: 2px solid #ffffff;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.footer p {
  margin: 0.5rem 0;
}
